Repository infernus01/git-repo-1: changes, and which Tekton pipelines are due for each by the changed paths.
All: code-only-pipeline, docs-only-pipeline

.tekton/code-only-pipeline.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  name: code-only-pipeline
  annotations:
    pipelinesascode.tekton.dev/on-target-branch: "[main]"
    pipelinesascode.tekton.dev/on-event: "[pull_request]"
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && "src/**".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  pipelineSpec:
    tasks:
      - name: code-task
        taskSpec:
          steps:
            - name: echo-code
              image: registry.access.redhat.com/ubi9/ubi-minimal
              script: |
                #!/bin/sh
                echo "âœ… Code pipeline running!"
                echo "This should ONLY run when src/ files change"

.tekton/docs-only-pipeline.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  name: docs-only-pipeline
  annotations:
    pipelinesascode.tekton.dev/on-target-branch: "[main]"
    pipelinesascode.tekton.dev/on-event: "[pull_request]"
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && "docs/**".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  pipelineSpec:
    tasks:
      - name: docs-task
        taskSpec:
          steps:
            - name: echo-docs
              image: registry.access.redhat.com/ubi9/ubi-minimal
              script: |
                #!/bin/sh
                echo "âœ… Docs pipeline running!"
                echo "This should ONLY run when docs/ files change"

update docs only
  docs/README.md
Due: docs-only-pipeline

update docs only 2
  docs/README.md
Due: docs-only-pipeline

update docs only 3
  docs/README.md
Due: docs-only-pipeline

update docs only 4
  docs/README.md
Due: docs-only-pipeline

Update both docs and code
  docs/README.md
  src/app.js
Due: code-only-pipeline, docs-only-pipeline

Modify echo-docs step to fail intentionally
  .tekton/docs-only-pipeline.yaml
Due: none

test failing docs-only-pipeline
  README.md
  docs/README.md
  feature.txt
  test.txt
Due: docs-only-pipeline

test failing docs-only-pipeline
  docs/README.md
Due: docs-only-pipeline

Update docs-only-pipeline to run successfully
  .tekton/docs-only-pipeline.yaml
Due: none

Update docs-only-pipeline.yaml
  .tekton/docs-only-pipeline.yaml
Due: none

add cell testing yaml
  .tekton/test.yaml
Due: none

add push pipeline
  konflux-13807-build.yaml
Due: none

add push pipeline changes
  konflux-13807-build.yaml
Due: none

add push pipeline changes to .tekton folder
  .tekton/konflux-13807-build.yaml
Due: none
